.related {
	&__title {
		font-size: 36px;
		letter-spacing: -0.22px;
	}
	&__more--color {
		color: #111210;
		line-height: 46px;
		letter-spacing: -0.1px;
	}
	&__text{
		color: #9b9b9b;
		margin-top: 8px;
		line-height: 32px;
		margin-bottom: 104px;
		letter-spacing: -0.1px;
	}
	&__img {
		width: 573px;
		height: 358px;
		border-radius: 8px;
		margin-bottom: 20px;
	}
	&__box:first-child{margin-right: 13.5px;}
	&__box:last-child{margin-left: 13.5px;}
	&__item {margin: 62px 0;}
	&__author{margin-bottom: 21px;}
}