.bred-crumb {
	padding: 0 5%;
	padding-top: 51px;
	@media (min-width: 1200px) {
		padding-left: 0;
		padding-right: 0;
	}
	&__link {
		color: #9b9b9b;
		font-size: 12px;
		line-height: 58px;
		letter-spacing: -0.07px;
		&--color {color: #c8c8c8;}
	}
}