.comments {
	max-width: 772px;
	&__items {
		flex-direction: column;
		align-items: normal !important;
		@media (min-width: 768px) {
			align-items: center;
			flex-direction: row !important;
		}
	}
	&__inner--shift {
		margin-top: 62px;
		margin-left: 50px;
		@media (min-width: 576px) {margin-left: 105px;}
	}
	&__user {display: flex;}
	&__items {align-items: center;}
	&__title{
		font-size: 18px;
		line-height: 30px;
		margin-right: 60px;
		letter-spacing: -0.11px;
	}
	&__data{
		color: #9b9b9b;
		@media (mix-width: 992px) { //768
			line-height: 46px;
			letter-spacing: -0.1px;
		}
	}
	&__button{
		right: 0;
		width: 60px;
		display: flex;
		font-size: 18px;
		font-weight: 600;
		color: #9b9b9b;
		margin-right: 5%;
		position: absolute;
		border-radius: 10px;
		align-items: center;
		justify-content: center;
		letter-spacing: -0.37px;
		border: 2px solid #e4e4e4;
		@media (min-width: 576px) {	width: 90px;}
		@media (min-width: 768px) {	
			left: 17%;	
			height: 52px;
			margin-right: 0;	
			position: relative;
		}
		@media (min-width: 992px) {left: 34%;}
		&:hover {
			color: #fff;
			cursor: pointer;
			transform: scale(1.02);
			background-color: #ff5480;
			box-shadow: 0 0 8px rgba(0,0,0,.08);
		}
	}
	&__message {
		margin-top: 7px;
		line-height: 32px;
		margin-left: 60px;
		letter-spacing: -0.1px;
		@media (min-width: 576px) {margin-left: 105px;}
	}
}