.social {
	padding: 0;
    display: flex;
    justify-content: space-between; 
	&__item {
		width: 20px;
		height: 20px;
		display: flex;
		margin: 0 5px;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		background-color: #9b9b9b;
		&--column {
			margin-bottom: 30px;
		}
	}
	&__link {
		color: #fff;
		font-size: 12px;
	}
	&__count {
		color: #000000;
		font-size: 18px;
		font-weight: 600;
		line-height: 58px;
		letter-spacing: -0.11px;
		text-transform: uppercase;
	}
}