.header {
	align-items: center;
	margin-top: 59px;
	align-items: center;
	@media (max-width: 768px) {
		margin-top: 69px;
		flex-direction: column;
	}
	&__item:first-child {
		align-items: center;
		@media (max-width: 768px) {
			text-align: center;
			flex-direction: column;
		}
		@media (max-width: 1200px) {width: 75%;}
	}
	&__logo {
		@media (max-width: 768px) {
				left: 5%;
				top: 15px;
				position: fixed;
			}
		@media (min-width: 768.5px) {margin-right: 62px;}
	}
	&__nav {width: 100%;}
	&__search {@media (max-width: 768px) {display: none;}}
}

.block {display: block;}