.menu {
	&__link {
		color: #000000;
		margin: 0 30px;
		font-weight: 600;
		font-family: "Open Sans Semi Bold";
		&:hover {
			color: #fff;
			padding: 10px;
			border-radius: 10px;
			background-color: #ff5480;
		}
	}
}